/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #a82121; /* Update background color */
    color: #333; /* Update text color */
}

h1 {
    color: #0c0c0c;
    font-size: 24px; /* Add font size */
}

h2 {
    color: #0056b3;
    font-size: 20px; /* Add font size */
}

p {
    line-height: 1.6;
    color: #666;
    font-size: 16px; /* Add font size */
}

/* Add styles for the <a> tag */
a {
    color: #e44d26;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Add styles for visited links */
a:visited {
    color: #800080; /* Purple, for example */
}

/* Add styles for active links */
a:active {
    color: #ff0000; /* Red, for example */
}

/* Add styles for the table layout */
table {
    width: 100%;
}

td {
    padding: 10px;
}

/* Add styles for the div wrapping the text */
.text-div {
    display: inline-block;
    width: 50%;
}

/* Add styles for the div wrapping the links */
.links-div {
    display: inline-block;
    width: 50%;
}